
/* lauout */
#wrap {}
.le8 #wrap {background-color: blue;}
.le9 #wrap {background-color: red;}
.le10 #wrap {background-color: #555;}
.le11 #wrap {background-color: #999;}
#header {height: 89px; border-bottom: 1px solid #efefef;}
#banner {height: 550px; background: url(../img/banner-bg2.jpg) no-repeat center top;}
#sbanner {border-top: 1px solid #efefef;}
#select {background-color: #0c69ac;  height: 498px;}
#info {}
#ad {background: url(../img/ad-bg.jpg) no-repeat center top; background-size: cover; position: relative; z-index: 1;}
#ad::before {content: ''; width: 100%; height: 100%; background-color: rgba(0,0,0,0.2); position: absolute; left: 0; top: 0;}
#blog {}
#site {background-color: #f8f9fa;}
#footer {}

/* sub page */
#sub-banner {background: url(../img/server-bg1.png) repeat-x center top;}
#sub-banner.mail-bg {background: url(../img/mail-bg1.png) repeat-x center top;}
#sub-banner.service-bg {background: url(../img/service-bg1.png) repeat-x center top;}
#sub-banner.webhosting-bg {background: url(../img/webhosting-bg1.png) repeat-x center top;}
#select2 {background-color: #0c69ac;}
#select5 {background-color: #0c69ac;}
#info2 {}


/* container */
.container {width: 1180px; height: inherit; margin: 0 auto; /* background-color: rgba(0,0,0,0.3) */;}

/* header */
.header {overflow: hidden;}
.header h1 {float: left; padding: 24px; padding-right: 30px;}
.header a:hover {color: #1d7abd;}
.header .gnb {float: left;}
.header .gnb ul li {display: inline;}
.header .gnb ul li a {font-size: 18px; padding: 32px 12px; display: inline-block;}
.header .quick {float: right;}
.header .quick li {position: relative; display: inline;}
.header .quick li.first:before {content: ''; width: 1px; height: 10px; background-color: #ccc; position: absolute; right: 0; top: 1px;}
/* .header .quick li:first-child:before {content: ''; width: 1px; height: 10px; background-color: #ccc; position: absolute; right: 0; top: 1px;} */
.header .quick li.last:before {width: 0; height: 0;}
/* .header .quick li:last-child:before {width: 0; height: 0;} */
.header .quick li a {font-size: 14px; padding: 34px 11px 34px 8px; display: inline-block; color: #676767;}

/* banner */
.banner {padding: 115px 50px;}
.banner h2 {font-size: 46px; line-height: 55px;}
.banner p {font-size: 18px; padding: 20px 0; color: #666; font-weight: 300;}
.banner em {font-size: 18px; color: #f66b05; display: block;}
.banner .view {font-size: 16px; margin-top: 50px; border: 1px solid #333; background-color: #fff; padding: 12px 42px; display: inline-block; transition: all 0.3s ease}
.banner .view:hover {background-color: #000; color: #fff;}

/* sbanner */
.sbanner {overflow: hidden; padding: 70px 0;}
.sbanner > div {float: left; width: 25%;}
.sbanner > div h4 {font-size: 24px; padding-bottom: 4px;}
.sbanner > div h4 i {padding-left: 10px;}
.sbanner > div h4:hover {text-decoration: underline;}
.sbanner > div p {font-size: 16px; color: #676767;}

/* select */
.select {overflow: hidden; color: #fff; padding: 70px 0;}
.select h3 {font-size: 40px; width: 25%; float: left;}
.select > div {float: left; width: 17.5%; background-color: #1d7abd; margin-left: 1.5%; padding: 3%; height: 300px;}
.select > div.simg1 {background: #1d7abd url(../img/select-bg1.png) no-repeat 30px 220px; background-size: 100px;}
.select > div.simg2 {background: #1d7abd url(../img/select-bg2.png) no-repeat 30px 220px; background-size: 100px;}
.select > div.simg3 {background: #1d7abd url(../img/select-bg3.png) no-repeat 30px 230px; background-size: 100px;}
.ie8 .select > div.simg1 {background: #1d7abd url(../img/select-bg1-ie8.png) no-repeat 30px 220px;}
.ie8 .select > div.simg2 {background: #1d7abd url(../img/select-bg2-ie8.png) no-repeat 30px 230px;}
.ie8 .select > div.simg3 {background: #1d7abd url(../img/select-bg3-ie8.png) no-repeat 30px 250px;}

.select > div h4 {font-size: 18px; color: #fff; padding-bottom: 20px;}
.select > div p {font-size: 15px; color: #fff;}

/* info */

.info {overflow: hidden; padding: 70px 0;}
.info h3 {font-size: 40px; text-align: center; padding-bottom: 20px; font-weight: 300;}
.info h3 a:hover{text-decoration: underline;}
.info > p {font-size: 18px; text-align: center; padding-bottom: 50px; color: #666;}
.info .in-box {overflow: hidden; padding: 0 200px;}
.info .in-box h4 {font-size: 16px; color: #666; padding-bottom: 5px;}
.info .in-box h4 i {color: #c6c6c6;}
.info .in-box .in-left {float: left; width: 50%; border-right: 1px solid #ccc; box-sizing: border-box;}
.info .in-box .in-left li {padding-right: 50px;}
.info .in-box .in-left em {font-size: 24px; font-weight: 400; color: #333; width: 160px; display: inline-block;}
.info .in-box .in-left strong {font-size: 30px; color: #0081c8;}
.info .in-box .in-right {float: left; width: 50%; padding-left: 50px;box-sizing: border-box;}
.info .in-box .in-right li {font-size: 16px; color: #333;}


/* infor2 */
.info2 {padding: 70px 0; text-align: center;  }
.info2 h3 {font-size: 40px; padding-bottom: 20px; font-weight: 300;   }
.info2 .info-btn {font-size: 16px; display: inline-block; border: 1px solid #333; background-color: #fff; padding: 12px 42px; transition: all 0.3s ease; margin-bottom: 50px;  }
.info2 .info-btn:hover {background-color: #000; color: #fff;}
.info2 .info-box {overflow: hidden; text-align: left; padding: 0 150px; }
.info2 .info-box .in-left {overflow: hidden; width: 50%; float: left;  }
.info2 .info-box .in-left h4 {float: left; width: 110px; height: 80px; background-color: #1d7abd; border-radius: 50%; /* box-sizing: border-box; */color: #fff; font-size: 16px; text-align: center; padding-top: 30px;}
.info2 .info-box .in-left ul {float: left; padding: 25px 0 0 20px;  }
.info2 .info-box .in-left li {padding-bottom: 10px; font-size: 16px; }
.info2 .info-box .in-left li em {width: 160px; display: inline-block;  }
.info2 .info-box .in-left li strong {color: #1d7abd;  }
.info2 .info-box .in-right {overflow: hidden; width: 50%; float: left; }
.info2 .info-box .in-right h4 {float: left; width: 110px; height: 90px; background-color: #1d7abd; border-radius: 50%; /* box-sizing: border-box; */color: #fff; font-size: 16px; text-align: center; padding-top: 20px; }
.info2 .info-box .in-right ul {float: left; padding: 25px 0 0 20px;  }
.info2 .info-box .in-right li {padding-bottom: 10px; font-size: 16px; }
.info2 .info-box .in-right li em {width: 90px; display: inline-block;  }
.info2 .info-box .in-right li strong {color: #1d7abd;  }

/* ad */

.ad {text-align: center; padding: 70px 0; color: #fff; z-index: 10; position: relative;}
.ad h3 {font-size: 40px; padding-bottom: 20px; font-weight: 300;}
.ad p {font-size: 16px;}
.ad .view {font-size: 16px; margin-top: 35px; color: #fff; border: 1px solid #fff; padding: 12px 42px; display: inline-block; transition: all 0.3s ease}
.ad .view:hover {background-color: #fff; color: #333;}

/* blog */

.blog {padding: 70px 0;}
.blog > h3 {font-size: 32px; padding-bottom: 40px;}
.blog .blog-wrap {overflow: hidden; margin-bottom: 80px;  font-weight: 300; height: 440px;}
.blog .blog-wrap h4 {font-size: 22px; padding-bottom: 30px; color: #333; font-weight: 400; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.blog .blog-wrap p {font-size: 16px; color: #7e7e7e; margin-bottom: 40px; height: 100px;
			overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4; 
            -webkit-box-orient: vertical;}
.blog .blog-wrap figure img {width: 100%;}
.blog .blog-wrap > div {width: 23.5%; float: left; border-top: 2px solid #6f6f6f; margin-right: 2%; padding-top: 20px;}
.blog .blog-wrap > div.last {margin: 0;}
/* .blog .blog-wrap > div:last-child {margin: 0;} */

.blog .notice-wrap {overflow: hidden;}
.blog .nw-left {float: left; width: 780px;}
.blog .nw-left h3 {font-size: 34px; margin: 0 20px 20px 0; display: inline-block;}
.blog .nw-left .total {font-size: 14px; color: #999; padding-left: 20px;}
.blog .nw-left .total i {font-size: 22px; content:''; width: 10px; height: 10px; padding-left: 10px;}
.blog .nw-left ul {border-top: 2px solid #6f6f6f;}
.blog .nw-left ul li {overflow: hidden; padding: 20px 10px; border-bottom: 1px solid #e5e5e5;}
.blog .nw-left ul li a {float: left; width: 80%; color: #666; font-size: 14px;}
.blog .nw-left ul li span {float: right; width: 20%; text-align: right; font-size: 14px; color: #999;}
.blog .nw-right {float: right; width: 375px;}
.blog .nw-right h3 {font-size: 34px; margin-bottom: 20px;}
.blog .nw-right ul {border-top: 2px solid #6f6f6f; padding: 20px; border-bottom: 1px solid #e5e5e5; height: 144px;}
.blog .nw-right ul li {padding: 12px 0; font-size: 16px; color: #666;}
.blog .nw-right ul li span {background-color: #666; padding: 5px 10px; color: #fff; margin-right: 20px;}

/* site */
.site {padding: 70px 0; overflow: hidden;}
.site > div {float: left; width: 15%; padding-right: 2%;}
.site > div.site-cloud {width: 30%;}
.site > div.site-cloud ul {overflow: hidden;}
.site > div.site-cloud ul li {width: 50%; float: left;}
.site > div h4 {font-size: 16px; font-weight: bold; padding-bottom: 20px;}
.site > div ul li {padding-bottom: 8px;}
.site > div ul li a {font-size: 16px; font-weight: 400; color: #666;}

/* footer */
.footer {padding: 50px 0; position: relative;}
.footer .policy {padding-bottom: 30px;}
.footer .policy li {display: inline; padding: 0 20px; position: relative;}
.footer .policy li a {font-size: 16px;}
.footer .policy li:before {content: ''; width: 1px; height: 15px; background-color: #ccc; position: absolute; right: 0; top: 0;}
.footer .policy li.last:before {width: 0; height: 0;}
/* .footer .policy li:last-child:before {width: 0; height: 0;} */
.footer .policy li.first {padding-left: 0;}
/* .footer .policy li:first-child {padding-left: 0;} */
.footer .policy li.last a{color: #1d7abd;}
/* .footer .policy li:last-child a{color: #1d7abd;} */

.footer .address {color: #666; font-size: 14px;}
.footer .address span {padding-right: 20px;}
.footer .address p {padding: 20px 0;}
.footer .icon {overflow: hidden;}
.footer .icon li {float: left; padding-right: 20px;}
.footer .icon li.last {padding-top: 14px;}
/* .footer .icon li:last-child {padding-top: 14px;} */
.footer .family {position: absolute; right: 0; top: 50px;}
.footer .family select {background-color: #fff; width: 145px; height: 44px; padding-left: 5px; margin-right: 5px;}
.footer .family button {padding: 10px 15px 11px; border: 1px solid #cfd5da; font-size: 14px; color: #707070;}
.ie8 .footer .family button {vertical-align: 15px;}
.footer .w3c {position: absolute; top: 110px; right: 0; text-align: right;}



/* sub-banner */
.sub-banner {padding: 80px 0; overflow: hidden;}
.sb-left {float: left; width: 760px;}
.sb-left h2 {font-size: 40px; color: #fff;}
.sb-left p {font-size: 16px; color: #fff;}
.sb-right {float: right; width: 410px; padding-top: 15px;}
.sb-right ul li {display: inline; margin-left: 10px;}
.sb-right ul li a {display: inline-block; font-size: 18px; padding-left: 55px; color: #b2ddf9; width: 65px; line-height: 50px; height: 50px; border-radius: 50px; border: 2px solid #b2ddf9;}
.sb-right ul li a:hover {color: #fff; border-color: #fff;}
.sb-right ul li.ic1 a {background: url(../img/server-icon1.png) no-repeat 16px 50%;}
.sb-right ul li.ic2 a {background: url(../img/server-icon2.png) no-repeat 16px 50%;}
.sb-right ul li.ic3 a {background: url(../img/server-icon3.png) no-repeat 16px 50%;}

/* product-table */
.product-table {padding: 80px 0;}
.product-table .more {text-align: center; padding: 20px 0 30px; font-size: 14px;}
.product-table .list {}
.product-table .list li {font-size: 14px; line-height: 28px; position: relative; padding-left: 10px;}
.product-table .list li:before {content: ''; width: 3px; height: 3px; background-color: #333; position: absolute; left: 0; top: 12px; border-radius: 50%}
.product-table .list .help {font-size: 18px;}

/* table-title1 */
.table-title1 {position: relative; padding-bottom: 20px;}
.table-title1 li {display: inline;}
.table-title1 li a {font-size: 18px; color: #999; padding: 0 10px;}
.table-title1 li.active a {color: #333;}
.table-title1 .detail {font-size: 18px;  color: #1d7abd; position: absolute; top: 0; right: 0;}

/* table-style */
/*
.table-style1 table {border-top: 2px solid #6f6f6f; border-bottom: 1px solid #9a9a9a;}
.table-style1 th {color: #333; width: 100px; font-size: 18px; text-align: center; border-right: 1px solid #cdcdcd; background-color: #f9fafc; height: 65px;}
.table-style1 th.brand {text-align: left; padding: 0 20px;}
.table-style1 th:last-child {border-right: 0;}
.table-style1 td {color: #666; font-size: 15px; text-align: center; border-top: 1px solid #9a9a9a; border-right: 1px solid #cdcdcd; height: 151px;}
.table-style1 td.name {color: #333; font-size: 28px; text-align: left; padding: 0 20px;}
.table-style1 td img {display: inline-block;}
.table-style1 td span {vertical-align: inherit; font-size: 15px; background-color: #f90; color: #fff; padding: 1px 3px; margin-left: 10px;}
.table-style1 td.spec {text-align: left; padding: 0 80px 0 20px;}
.table-style1 td.prise {font-size: 24px; border-right: 0;}
.table-style1 td.prise > p {font-size: 24px; display: inline-block; height: 46px; line-height: 46px; padding-bottom: 5px;}
.table-style1 td .view {color: #fff; font-size: 15px; background-color: #1d7abd; padding: 10px 40px; display: inline-block; transition: all 0.3s ease}
.table-style1 td .view:hover {background-color: #34a0ef;}
.table-style1 td em {font-size: 16px;}
.table-style1 a {display: block; text-align: center; font-size: 16px; padding-top: 30px;}
*/
.table-style1 {}
.table-style1 table {border-top: 2px solid #6f6f6f; border-bottom: 1px solid #9a9a9a; font-size: 16px; text-align: center; color: #666;}
.table-style1 table thead th {background-color: #f9fafc; padding: 20px 30px; border-bottom: 1px solid #ccc; border-right: 1px solid #e4e4e4;}
.table-style1 table thead th:last-child {border-right: 0;}
.table-style1 table tbody td {padding: 20px 30px; border-bottom: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4;}
.table-style1 table thead td:last-child {border-right: 0;}
.table-style1 .left {text-align: left;}
.table-style1 .center {text-align: center;}
.table-style1 .black {color: #000;}
.table-style1 .hot {background-color: #f90; color: #fff; font-size: 14px; padding: 2px 10px 0 10px; display: inline-block; vertical-align: 5px; line-height: 20px;}
.table-style1 .large {font-size: 28px; line-height: 38px;}
.table-style1 .small {font-size: 12px;}
.table-style1 .view {display: inline-block; padding: 5px 45px; color: #fff; background-color: #3090d6; font-size: 16px;}

/*
.notice ul {padding: 50px 0;}
.notice ul li {font-size: 15px; margin: 8px; list-style: disc;}
.notice ul li a {font-size: 18px;}
.notice ul li a:hover {text-decoration: underline;}
.notice ul li a i {padding-left: 10px;}
*/

/*
.together {overflow: hidden; color: #fff; padding: 70px 0;}
.together h3 {font-size: 40px; float: left; font-weight: 300;}
.together > div {float: right; width: 300px; background-color: #2886CA; margin-left: 2.5%; padding: 2%; height: 150px;}
.together > div.image1 {padding-top: 180px; background: #2886CA url(../img/ico_recom_lack02.png) no-repeat 30px 30px; background-size: 100px;}
.together > div.image2 {padding-top: 180px; background: #2886CA url(../img/ico_recom_lack01.png) no-repeat 30px 30px; background-size: 100px;}
.together > div a {font-size: 18px; color: #fff;  font-weight: 400;}
.together > div a:hover {text-decoration: underline;}
.together > div p {font-size: 15px; color: #fff; font-weight: 300; padding-top: 30px;}
*/


/* .select2 */
.select2 {overflow: hidden; padding: 70px 0;   }
.select2 h3 {float: left; width: 32.333%;  margin-right: 1.5%; font-size: 40px; color:#fff; }
.select2 > div {float: left; width: 26.3333%; margin-right: 1.5%; padding: 3%; height: 300px; }
.select2 > div.simg1 {background: #2886ca url(../img/select-bg1.png) no-repeat 30px 30px; background-size: 80px; }
.select2 > div.simg2 {background: #2886ca url(../img/select-bg2.png) no-repeat 30px 30px; background-size: 90px; margin-right: 0%;}
.select2 > div  h4 {font-size: 18px; color: #fff; padding-bottom: 20px; padding-top: 150px;  }
.select2 > div  p {font-size: 15px; color: #fff;  }

/* .select5 */
.select5 {overflow: hidden; padding: 70px 0;   }
.select5 h3 {float: left; width: 32.333%; margin-right: 1.5%; font-size: 40px; color:#fff; }
.select5 > div {float: left; width: 26.3333%; margin-right: 1.5%; margin-bottom: 1.5%; padding: 3%; height: 300px; }
.select5 > div.simg1 {background: #2886ca url(../img/service-icon1.png) no-repeat 30px 30px; background-size: 80px; }
.select5 > div.simg2 {background: #2886ca url(../img/service-icon2.png) no-repeat 30px 30px; background-size: 90px; margin-right: 0%; }
.select5 > div.simg3 {background: #2886ca url(../img/service-icon3.png) no-repeat 30px 30px; background-size: 90px; }
.select5 > div.simg4 {background: #2886ca url(../img/service-icon4.png) no-repeat 30px 30px; background-size: 90px; }
.select5 > div.simg5 {background: #2886ca url(../img/service-icon5.png) no-repeat 30px 30px; background-size: 90px; margin-right: 0%; }
.select5 > div  h4 {font-size: 18px; color: #fff; padding-bottom: 20px; padding-top: 150px;  }
.select5 > div  p {font-size: 15px; color: #fff;  }

.ques {text-align: center; padding: 80px;}
.ques h2 {font-size: 40px;padding-bottom: 30px;}
.ques a {display: block;}
.ques .view {font-size: 15px; background-color: #fff; padding: 12px 42px; display: inline-block; transition: all 0.3s ease; border: 1px solid #333; margin-bottom: 30px;}
.ques .view:hover {background-color: #333; color: #fff;}
.ques .qbox {font-size: 16px; overflow: hidden; padding: 0 50px;}
.ques .qbox div {float: left; overflow: hidden;}
.ques .qbox .qleft {}
.ques .qbox .qleft .circle {font-size: 16px; display: inline-block; color: #fff; padding: 30px 25px; background-color: #2886CA; border-radius: 100%;}
.ques .qbox ul {float: right; padding: 20px 30px;}
.ques .qbox ul li {text-align: left; padding: 5px 0; width: 260px;}
.ques .qbox .qright ul li {text-align: left; padding: 5px 0; }
.ques .qbox ul li em {color: #2886CA;}
.ques .qbox .qleft ul li em {float: right;}
.ques .qbox ul li span {padding-right: 30px;}
.ques .qbox .qright {padding-left: 30px;}
.ques .qbox .qright .circle {font-size: 16px; display: inline-block; color: #fff; padding: 18px 25px; background-color: #2886CA; border-radius: 100%;}

.hosting {text-align: center; color: #fff; padding: 85px 0;}
.hosting h2 {font-size: 40px; padding-bottom: 15px;}
.hosting p {font-size: 18px; padding-bottom: 85px;}

.best {padding: 80px 0; text-align: center; font-size: 16px;}
.best h2 {font-size: 40px; font-weight: 300;}
.best div {padding: 50px 0;}
.best ul {overflow: hidden; padding: 70px 0;}
.best ul li {float: left; width: 33.3333%;}
.best ul li img.icon1 {margin: 3px 0;}
.best ul li img.icon2 {margin: 6px 0;}
.best ul li img.icon3 {margin: 1px 0;}
.best ul li img.icon4 {margin: 3px 0;}
.best ul li img.icon5 {margin: 5px 0;}
.best ul li img.icon6 {margin: 3px 0;}
.best ul li p {font-size: 18px; padding: 10px 0;}
.best ul li a p:hover {text-decoration: underline;}

.service {color: #fff; font-size: 15px; overflow: hidden; padding: 50px 0;}
.service div {float: left; width: 280px; height: 150px; margin: 0 20px 20px 0; padding: 200px 35px 0 35px;}
.service div.title {padding: 0; width: 350px; height: 340px; background-color: transparent;}
.service div.software {background: #2886CA url(../img/service-icon1.png) no-repeat 35px 35px;}
.service div.backup {background: #2886ca url(../img/service-icon2.png) no-repeat 35px 35px; margin-right: 0;}
.service div.monitor {background: #2886ca url(../img/service-icon3.png) no-repeat 35px 35px;}
.service div.ha {background: #2886ca url(../img/service-icon4.png) no-repeat 35px 35px;}
.service div.load {background: #2886ca url(../img/service-icon5.png) no-repeat 35px 35px; margin-right: 0;}
.service h2 {font-size: 40px;}
.service a {color: #fff; font-size: 16px; padding-bottom: 10px; display: block;}
.service a:hover {text-decoration: underline;}

.answer {padding: 80px 0;}
.answer .title { border-bottom: 2px solid #333; padding-bottom: 10px;}
.answer div h3 {font-size: 32px; display: inline;}
.answer div span {font-size: 16px; float: right; margin: 11px 11px 0 0;}
.answer .server div {padding: 22px; border-bottom: 1px solid #ccc;}
.answer .server div a {font-size: 16px; padding-left: 50px;}
.answer {}